<html>
<head>
    <title>Movies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div>
    <div class="top-menu-container">
    <div class="top-menu">
        <div class="top-menu-title">
            Fresh Oranges
        </div>
        <div class="top-menu-item">
            <a href="{{ url_for('movies.show') }}">Search Movies</a>
        </div>
        {% if current_user is none %}
        <div class="top-menu-item">
            <a href="{{ url_for('user.login') }}">Log in</a>
        </div>
        {% else %}
        <div class="top-menu-item">
            Hello, {{ current_user.user_name }}
        </div>
        <div class="top-menu-item">
            <a href="{{ url_for('user.logout') }}">Log out</a>
        </div>
        {% endif %}
    </div>
    </div>
    {% block content %}{% endblock %}
</div>
</body>
</html>
