{% extends "base.html" %}
{% import "pagination.html" as pagination %}
{% block content %}
<div>
    <h1>Movies</h1>
</div>
{{ pagination.previous_next(previous_id, next_id) }}
{% for movie in movies %}
<div>
    <div>
        <h2 class="movie-title">{{ movie.title }} ({{ movie.release_year }})</h2>
    </div>
    <div>
        <span class="movie-data-key">Metascore: </span><span class="movie-data-field">{{ movie.metascore }}</span>
        <span class="text-separator"></span>
        <span class="movie-data-key">IMDB Rating: </span>
        <span class="movie-data-field">{{ movie.rating }}</span>
        <span>({{ movie.votes }} votes)</span>
    </div>
    <div>
        <span class="movie-data-key">Runtime: </span><span> {{movie.runtime_minutes}} min </span>
        <span class="text-separator">|</span>
        <span class="movie-data-key">Revenue: </span><span>${{ movie.revenue }} mil</span>
    </div>
    <div>
        <span class="movie-data-key">Director</span>
        <span>{{ movie.director.director_full_name }}</span>
        <span class="text-separator">|</span>
        <span class="movie-data-key">Actors:</span>
        <span>
        {% for actor in movie.actors %}
        {{ actor.actor_full_name + ", " }}
        {% endfor %}
        </span>
    </div>
    <div>
        <span class="movie-data-key">Genres:</span>
        <span>
        {% for genre in movie.genres %}
        {{ genre.genre_name + ", " }}
        {% endfor %}
        </span>
    </div>

    <div>
    <p>
        {{ movie.description }}
    </p>
    </div>
</div>
{% endfor %}
{{ pagination.previous_next(previous_id, next_id) }}
{% endblock %}
