{% extends "base.html" %}
{% import "pagination.html" as pagination %}
{% block content %}
<div class="content">
    <h1>Movies - Search Results</h1>
</div>
<div class="content top-block">
    <form method="get" action="{{ url_for('movies.show') }}">
    <div class="search-form-container">
        <div class="search-form-item">
        {{ form.director.label(class_="search-form-label") }}
        {{ form.director(class_="movie-search-text") }}
        </div>
        <div class="search-form-item">
        {{ form.actors.label(class_="search-form-label") }}
        {{ form.actors(class_="movie-search-select") }}
        </div>
        <div class="search-form-item">
        {{ form.genres.label(class_="search-form-label") }}
        {{ form.genres(class_="movie-search-select") }}
        </div>
        <div>
            <input type="submit" value="Search">
        </div>
    </div>
    </form>
</div>
<div class="content">
    <div class="pagination-container">
    {{ pagination.previous_next(previous_id, next_id, url_query) }}
        <span></span>
    </div>
    <div class="movie-list">
    {% for movie in movies %}
        <div class="movie-preview-item">
            <div>
                <h2 class="movie-preview-title">
                    <a href="{{ url_for('movies.single_movie', index = movie.id) }}">
                        {{ movie.title | e }} ({{ movie.release_year | e }})
                    </a>
                </h2>
            </div>
            <div>
                <span class="movie-data-key">Director</span>
                <span>{{ movie.director.director_full_name | e }}</span>
                <span class="text-separator">|</span>
                <span class="movie-data-key">Actors:</span>
                <span>
                {% for actor in movie.actors %}
                {{ actor.actor_full_name | e + ", " }}
                {% endfor %}
                </span>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="pagination-container">
        {{ pagination.previous_next(previous_id, next_id, url_query) }}
        {% endblock %}
    </div>
</div>
